---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/crate-ci/typos
    rev: v1.39.2
    hooks:
      - id: typos
  # - repo: https://github.com/adrienverge/yamllint
  #  rev: v1.37.1
  #  hooks:
  #    - id: yamllint
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.91.1
    hooks:
      - id: trufflehog
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/checkmake/checkmake
    rev: 0.2.2
    hooks:
      - id: checkmake
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
